.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    min-height: 15rem;
    color: black;
    background-color: $PlusCard;
    border-radius: 10px;
    cursor: pointer;
    .Plus{
        font-weight:500;
        font-size: 60px;
      
    }
}
.box1:hover{
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
.box1:active{
    box-shadow: rgba(255, 204, 204, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.box{
    
    min-height: 15rem;
    color: black;
    padding: 10px;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .Plus{
        font-weight:500;
        font-size: 60px;
      
    }
}
.plusbox{
    min-height: 15.5rem;
    color: black;
    padding: 10px;
    border-radius: 5px;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .Plus{
        font-weight:500;
        font-size: 60px;
      
    }
}

// #sticky {
//     height: 4px;
// }
